<nav class="navbar navbar-expand shadow bg-secondary">
  <%= link_to root_path, class: 'd-flex align-items-center h1 my-1 text-primary text-decoration-none' do %>
    <i class="far fa-calendar-check mr-3"></i>
    <div>Private Events</div>
  <% end %>

  <ul class="navbar-nav ml-auto mr-3">
    <% if user_signed_in? %>
      <li class="align-items-center d-flex nav-item mr-4">
        <%= link_to 'Events', root_path, class: 'h3 my-1 text-primary text-decoration-none' %>
      </li>

      <li class="align-items-center d-flex nav-item mr-4">
        <%= link_to 'My Events', user_path(current_user), class: 'h3 my-1 text-primary text-decoration-none' %>
      </li>

      <li class="align-items-center d-flex nav-item mr-4">
        <%= link_to 'New Event', new_event_path, class: 'h3 my-1 text-primary text-decoration-none' %>
      </li>

      <li class="align-items-center d-flex nav-item">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'h3 my-1 text-primary text-decoration-none' %>
      </li>

      <% if false %>
      <li class="nav-item dropdown">
        <a class="nav-link text-light" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="d-none d-lg-inline text-gray-600 small"><%= current_user.email %></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right shadow text-center" aria-labelledby="userDropdown">
          <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-link text-dark-gray' do %>
            <i class="fas fa-sign-out-alt fa-sm mr-2 text-gray-400"></i>
            <%= t('navbar.logout') %>
          <% end %>
        </div>
      </li>
      <% end %>

    <% else %>
      <%= link_to 'Log in', new_user_session_path, class: 'h3 my-1 text-primary text-decoration-none' %>
    <% end %>
  </ul>
</nav>
