<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-primary">
    <% if flash[:notice] %>
      <p class="alert alert-success mb-0"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-danger mb-0"><%= alert %></p>
    <% end %>

    <%= render partial: 'shared/navbar' if user_signed_in? %>

    <%= yield %>
  </body>
</html>
